<%- include('./partials/header.ejs') %>
    <h1>Update Page</h1>
    <form method="post" action="/student/update/<%=id%>">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= obj.name %>">
          
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" id="age" name="age" value="<%= obj.age %>">
            
          </div>
          <div class="mb-3">
            <label for="fees" class="form-label">Fees</label>
            <input type="text" class="form-control" id="fees" name="fees" value="<%= obj.fees %>">
            
          </div>
      
        <button type="submit" class="btn btn-primary">Update</button>
        <button type="submit" class="btn btn-primary">Back to Home</button>


      </form>
<%- include('./partials/footer.ejs') %>