<%- include('./partials/header.ejs') %>
<div class="container">
  <div id="first">
    <h1>Enter Student Details</h1>
    <form method="post" action="/student">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="text" class="form-control" id="age" name="age" />
      </div>
      <div class="mb-3">
        <label for="fees" class="form-label">Fees</label>
        <input type="text" class="form-control" id="fees" name="fees" />
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div id="second">
    <h1>List of Students</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Serial No</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Fees</th>
        </tr>
      </thead>
      <tbody>
        <% var i=1; %> <% data.forEach((element)=>{%>
        <tr>
          <th><%= i++ %></th>
          <td><%= element.name %></td>
          <td><%= element.age %></td>
          <td><%= element.fees %></td>
          <form action="/student/delete/<%= element._id%>" method="post">
            <td>
              <button type="submit"><i class="fa-solid fa-trash"></i></button>
            </td>
          </form>
          <form action="/student/edit/<%= element._id%>" method="get">
            <td>
              <button type="submit"><i class="fa-solid fa-pen-nib"></i></button>
            </td>
          </form>
        </tr>
        <% })%>
      </tbody>
    </table>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
